/*FÆLLES KODE*/

a{
  color: #ffffff;
  text-decoration: none;
}

html{
  background-color: #f7f4f4;
}

.header-style{
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 15;
  justify-content: space-between;
}

.gaa-til-pentia{
  margin: 40px;
  font-size: 20px;
}

.pentia-logo a img{
  width: 100%;
  max-width: 200px;
  margin: 40px;
}


/*Overskrift H1 på styleguide*/

.title-h1{
  font-size: 3rem;
  padding: 2rem;
}

/*Dette er de røde overskrifter*/

.overskrift{
  font-weight: normal;
  color: #EC6755;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*Dette er undertitlen*/

.overskrift-undertitel{
  font-weight: normal;
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/*Dette er brødteksten*/

.beskrivelse{
  font-weight:lighter;
  font-style: italic;
  color: #000000;
  text-align: center;
  font-size: 1.3rem;
  line-height: 50px;
  margin-bottom: 20px;
}

/*Dette er overskriften i boksen med grafik*/

.overskrift-h3{
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

/*OVERSKRIFTER MOBIL VERSION*/

@media (max-width: 700px){

  /*Dette er de røde overskrifter*/

  .overskrift{
    font-weight: normal;
    color: #EC6755;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  /*Dette er undertitlen*/

  .overskrift-undertitel{
    font-weight: normal;
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  /*Dette er brødteksten*/

  .beskrivelse{
    font-weight:lighter;
    font-style: italic;
    color: #000000;
    text-align: center;
    font-size: 1.3rem;
    line-height: 50px;
    margin-bottom: 20px;
  }

  /*Dette er overskriften i boksen med grafik*/

  .overskrift-h3{
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 1.8rem;
  }

  /*Knap med blå skrift*/

  .knap-blue{
    text-transform: uppercase;
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: transparent;
    border-radius: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
  }

}


/*KNAPPER*/
/*Almindelig sort knap*/

.knap-gray{
  text-transform: uppercase;
  color: #666565;
  border: solid 1px #666565;
  background-color: transparent;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.knap-gray:hover{
  color: #ffffff;
  background-color: #666565;
  transition: .3s;
  cursor: pointer;
}

/*Knap med lyserød skrift*/

.knap-gul{
  text-transform: uppercase;
  color: #666565;
  border: solid 1px #666565;
  background-color: transparent;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.knap-gul:hover{
  color: #E3CF62;
  background-color: #666565;
  transition: .3s;
  cursor: pointer;
}

/*Knap med blå skrift*/

.knap-blue{
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: transparent;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.knap-blue:hover{
  color: #6B9299;
  background-color: #ffffff;
  transition: .3s;
  cursor: pointer;
}

/*HTML*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}


/*NAV-MENU*/

header{
  opacity: 100%;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.side{
  background-color: white;
  opacity: 100%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

li{
  list-style: none;
}

header a{
  color: white;
  text-decoration: none;
}

.navbar{
  min-height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  z-index: 3;
  padding-bottom: 30px;
}

.nav-menu{
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  gap: 60px;
  font-size: 1.2rem;
}

.nav-menu-small{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: .8rem;
  padding-right: 24px;
  padding-top: 20px;
}

@media (max-width:800px){
  .nav-menu{
    gap: 20px;
    font-size: 1.2rem;
  }
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: #333232;
}

.hamburger{
  display: none;
  cursor: pointer;
  z-index: 5;
}

.burger-menu{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#logo-nav{
  width: auto;
  max-width: 200px;
  margin-right: 20px;
}

#logo-nav-styleguide{
  width: auto;
  max-width: 200px;
  margin-left: 100px;
}

.aktiv-side{
border-bottom: 2px solid #ffffff;
padding-bottom: 10px;
}

.aktiv-side:hover {
  border-bottom: 2px solid #333232;
}

@media (max-width:1100px){
  .nav-menu{
    font-size: 1rem;
  }

  .nav-menu-small{
    font-size: .7rem;
  }
}

@media (max-width:700px){
  .hamburger{
    display: block;
}

.hamburger.active .burger-menu:nth-child(2){
  opacity: 0;
}
.hamburger.active .burger-menu:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .burger-menu:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu, .nav-menu-small{
  position: fixed;
  left: -100%;
  top: 0px;
  padding-top: 50px;
  gap: 40px;
  flex-direction: column;
  background-color: #333232;
  width: 100%;
  opacity: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 3;
  height: 500px;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}

}


/*HERO BANNER*/

.header-h1{grid-area: a;}
.hero-image{grid-area: b;}
.arrow{grid-area: c;}

.hero-banner{
  display: grid;
  grid-template-areas:
  'a b'
  'c c';
  height: 100%;
  background: rgb(54,73,77);
  background: linear-gradient(0deg, rgba(54,73,77,1) 0%, rgba(107,146,153,1) 100%);
  z-index: 2;
  align-items: center;
  height: auto;
}

.header-h1{
  width: 40%;
  position: absolute;
  padding-left: 5%;
  z-index: 2;
  color: #ffffff;
  font-size: 2.5rem;
}

.header-h1 p{
  font-size: 2rem;
  font-weight: lighter;
}

.bread{
  padding: 20px;
  width: 100%;
}

.bread ul{
  width: 300px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.bread a{
  color: #000000;
}

.bread a:hover{
  color: #666565;
  transition: .3s;
}

@media (max-width: 1260px){

  .header-h1{
    width: 40%;
    position: absolute;
    padding-left: 5%;
    z-index: 2;
    color: #ffffff;
    font-size: 1.2rem;
  }

}

.hero-image{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  margin-right: 0;
  vertical-align: bottom;
}



/*MAIN Forside*/

@media (min-width: 700px){

.textbox-forside{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.overskrift-box{grid-area: box;}
.service-1{grid-area: a;}
.service-2{grid-area: b;}
.service-3{grid-area: c;}
.service-4{grid-area: d;}
.service-5{grid-area: e;}
.service-6{grid-area: f;}

.service-7{grid-area: g;}
.service-8{grid-area: h;}
.service-9{grid-area: i;}

.services{
  display: grid;
  grid-template-areas:
  'box box box'
  'a b c'
  'd e f'
  'g h i';
  background-color: #6B9299;
  height: auto;
  padding: 5rem;
  grid-gap: 80px;
  margin-top: 100px;
  align-items: end;
  text-align: center;
  font-size: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  color: #ffffff;
  text-decoration: none;
}

.service-call-to-action{
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #6B9299;
  padding-bottom: 100px;
}

.service-grafik{
  width: 100%;
  max-width: 100px;
}

.service-grafik-wide{
  width: 100%;
  max-width: 80px;
}

#grafik-tall{
  width: 100%;
  max-width: 50px;
}

.services div i{
  font-size: 30px;
  margin-top: 20px;
  color: #ffffff;
}

.image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card {
  display: flex;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.card:hover{
  transform: scale(1.02);
  transition: 1s;
}

.card-h3{grid-area: a;}
.card-p{grid-area: b;}
.card-arrow{grid-area: c;}

.card{
  display: grid;
  grid-template-areas:
  'a a'
  'b c';
}

.card-p{
  align-self: flex-end;
  width: 90%;
}

.image-mosaic div div h3{
  font-size: 1.7rem;
  padding: 1rem;
  height: auto;
}

.image-mosaic div div p{
  align-self: flex-end;
  font-size: 1rem;
  padding: 1rem;
  line-height: 30px;
}

.card-arrow{
  font-size: 40px;
  align-self: flex-end;
  padding: 1rem;
}

.card-arrow:hover{
  color: #E3D3CD;
  transition: .3s;
}

.blue-baggrund-1{
  background-color: #6B9299;
}

.green-baggrund-1{
  background-color: #68724F;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.call-to-action-forside{
  text-align: center;
}

.kontakt-box-forside{
  background-color: #E3CF62;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 50px;
}

.kontakt-knapper{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

}

/*Startside Mobil Version*/

@media (max-width: 950px){
  .services{
    display: grid;
    grid-template-areas:
    'box box'
    'a b'
    'c d'
    'e f'
    'g h'
    'i i ';
    background-color: #6B9299;
    height: auto;
    padding: 5rem;
    grid-gap: 50px;
    margin-top: 100px;
    align-items: end;
    text-align: center;
    font-size: 15px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    color: #ffffff;
  }

}

@media (max-width: 700px){

  .header-h1{
    width: 100%;
    position: absolute;
    padding-left: 0rem;
    z-index: 2;
    text-align: center;
    font-size: 1.8rem;
  }

  #hero-billede{
    object-fit: cover;
    min-width: 100%;
    min-height: 100vh;
    position:relative;
    top: 0;
  }

  #logo-nav{
    width: auto;
    max-width: 150px;
    margin-right: 20px;
  }

  .navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 3;
  }


  .textbox-forside{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  .overskrift-box{grid-area: box;}
  .service-1{grid-area: a;}
  .service-2{grid-area: b;}
  .service-3{grid-area: c;}
  .service-4{grid-area: d;}
  .service-5{grid-area: e;}
  .service-6{grid-area: f;}

  .service-7{grid-area: g;}
  .service-8{grid-area: h;}
  .service-9{grid-area: i;}


  .service-call-to-action{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #6B9299;
    padding-bottom: 80px;
  }

  .service-grafik{
    width: 100%;
    max-width: 70px;
  }

  .service-grafik-wide{
    width: 100%;
    max-width: 50px;
  }

  #grafik-tall{
    width: 100%;
    max-width: 30px;
  }

  .services div i{
    font-size: 30px;
    margin-top: 20px;
  }

  .image-mosaic {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
  }

  .card {
    display: flex;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }

  .card:hover{
    transform: scale(1.02);
    transition: 1s;
  }

  .card-h3{grid-area: a;}
  .card-p{grid-area: b;}
  .card-arrow{grid-area: c;}

  .card{
    display: grid;
    grid-template-areas:
    'a a'
    'b c';
  }

  .card-p{
    align-self: flex-end;
    width: 90%;
  }

  .image-mosaic div div h3{
    font-size: 1.7rem;
    padding: 1rem;
    height: auto;
  }

  .image-mosaic div div p{
    align-self: flex-end;
    font-size: 0.9rem;
    padding: 1rem;
    line-height: 30px;
  }

  .card-arrow{
    font-size: 40px;
    align-self: flex-end;
    padding: 1rem;
  }

  .card-arrow:hover{
    color: #E3D3CD;
    transition: .3s;
  }

  .blue-baggrund{
    background-color: #6B9299;
  }

  .green-baggrund{
    background-color: #68724F;
  }

  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }

    .card-wide {
      grid-column: span 2 / auto;
    }
  }

  .call-to-action-forside{
    text-align: center;
  }

  .kontakt-box-forside{
    background-color: #E3CF62;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
  }

  .kontakt-knapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }


}



/*FOOTER*/

footer{
  background-color: #6B9299;
}

.footer-indhold .tall-image{
  width: auto;
  max-width: 70px;
  text-align: center;
}

.footer-indhold .small-image{
  width: auto;
  max-width: 70px;
  text-align: center;
}

#malmoe{
  max-width: 100px;
}

.kontakt-opl-1{grid-area: a;}
.kontakt-opl-2{grid-area: b;}
.kontakt-opl-3{grid-area: c;}
.kontakt-opl-4{grid-area: d;}
.kontakt-opl-5{grid-area: e;}

.footer-indhold{
  display: grid;
  grid-template-areas:
  'a b c d e';
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
  height: 10rem;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: end;
  line-height: 22px;
}

@media (max-width: 700px){

  .footer-indhold{
    display: grid;
    grid-template-areas:
    'a b'
    'c d'
    'e e';
    text-align: center;
    color: #ffffff;
    height: 10rem;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: end;
    line-height: 22px;
    justify-content: center;
    grid-gap: 90px;
  }

  .footer-indhold .tall-image{
    width: auto;
    max-width: 100px;
    text-align: center;
  }

  .footer-indhold .small-image{
    width: auto;
    max-width: 100px;
    text-align: center;
  }

  #malmoe{
    max-width: 130px;
  }

}

/*Styleguide*/

.sidebar{grid-area: a;}
.home-section-farver{grid-area: b;}

.sg{
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 8fr;
}


.sidebar{
  position: relative;
  height: 100%;
  width: 78px;
  background: rgb(107,146,153);
  background: linear-gradient(0deg, rgba(107,146,153,0) 0%, rgba(54,73,77,1) 100%);
  padding: 6px 14px;
  z-index: 2;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: rgba(107,146,153,0.5);
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 1;
  text-align: center;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.home-section-farver{
  min-height: 100vh;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
  margin-top: 100px;
}

.home-section-typografi{
  min-height: 100vh;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.textbox-knapper{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 18px;
}

.kode-tekst{
  resize: none;
  width: auto;
  max-width: 80%;
  height: 50px;
}

.kode-tekst-typ{
  resize: none;
  width: auto;
  max-width: 80%;
  height: auto;
  font-size: 16px;
}

.css-tekst-typ{
  text-align: center;
}

.css-tekst{grid-area: a;}
.beskrivende-tekst{grid-area: b;}

.kopier-kode{
  display: grid;
  grid-template-areas:
  'a b';
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px){

  .kopier-kode{
    display: grid;
    grid-template-areas:
    'a'
    'b';
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
  }

}

.beskrivende-tekst{
  line-height: 25px;
  text-align: left;
}

/*sammensat knapper på farveside*/

.f-knapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.f-knapper button {
  background-color: #6B9299;
  border: 1px solid #6B9299;
  padding: 10px 24px;
  cursor: pointer;
}

.f-knapper button:not(:last-child) {
  border-right: none;
}

.f-knapper:after {
  content: "";
  clear: both;
  display: table;
}

.f-knapper button:hover {
  background-color: #36494D;
  transition: .3s;
}

.f-knapper a{
  color: #ffffff;
}

.f-knapper #aktiv-knap{
  background-color: #36494D;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #36494D;
}


/*Dette er knapperne på styleguiden*/

.kode-tekst-knap{
  resize: none;
  width: auto;
  max-width: 80%;
  height: 50px;
}

.farve-1{grid-area: a; background-color: #6B9299; padding: 50px; margin-right: 100px; color: #fff;}
.farve-2{grid-area: b; border: 1px solid black; padding: 50px; margin-right: 100px;}
.farve-3{grid-area: c; background-color: #E3CF62; padding: 50px; margin-right: 100px;}
.farve-4{grid-area: d; border: 1px solid black; padding: 50px; margin-right: 100px;}


.knapper-styleguide{
  display: grid;
  grid-template-areas:
  'a'
  'b'
  'c'
  'd';
  margin-bottom: 100px;
  grid-gap: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.textbox-knapper{grid-area: a; width: 80%;}
.knapper-container{grid-area: b;}
.css-tekst{grid-area: c;}
.beskrivende-tekst{grid-area: d; width: 80%;}

.farve-1, .farve-2, .farve-3, .farve-4{
  display: grid;
  grid-template-areas:
  'a a'
  'b c'
  'd d';
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.knap-overskrift-knap{
  margin-bottom: 50px;
  margin-left: 50px;
}

@media (max-width: 1111px){

  .knap-overskrift-knap{
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .knapper-styleguide .farve-1, .farve-2, .farve-3, .farve-4 p{
    text-align: center;
  }

  .farve-1{grid-area: a;
    background-color: #6B9299;
    padding: 50px;
    margin-right: 0px;
    color: #fff;
    text-align: center;
  }

  .farve-2{grid-area: b;
    padding: 50px;
    margin-right: 0px;
    text-align: center;
  }

  .farve-3{grid-area: c;
    background-color: #E3CF62;
    padding: 50px;
    margin-right: 0px;
    text-align: center;
  }

  .farve-4{grid-area: d;
    border: 1px solid black;
    padding: 50px;
    margin-right: 0px;
  }


  .kode-tekst-knap{
    resize: none;
    width: auto;
    max-width: 150px;
    height: 100px;
  }

  .knapper-styleguide{
    display: grid;
    grid-template-areas:
    'a'
    'b'
    'c'
    'd';
    margin-bottom: 100px;
    grid-gap: 100px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    justify-items: center;
  }


  .farve-1, .farve-2, .farve-3, .farve-4{
    display: grid;
    grid-template-areas:
    'a'
    'b'
    'c'
    'd';
    grid-template-columns: 1fr;
    grid-gap: 40px;
    justify-content: center;
    text-align: center;
    width: 220px;
  }

  .textbox-knapper{
    width: 80%;
  }

  .knapper-container{

  }

  .css-tekst{

  }

  .beskrivende-tekst{
    width: 80%;
  }

}









.pentia-logoside{
  width: 80%;
  background-color: #666565;
  margin-top: 100px;
}

.pentia-logo-logoside{
  width: 100%;
  max-width: 500px;
  padding: 50px;
}

.farve-tekst{grid-area: a;}
.farve-knap{grid-area: b;}

.farve{
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 20px;
  height: auto;
  margin-top: 50px;
  line-height: 40px;
  color: #ffffff;
  margin-left: 50px;
}

@media (max-width:750px){
  .farve {
    display: grid;
    grid-template-areas:
        'a'
        'b';
    grid-template-columns: 1fr;
    width: auto;
    padding: 20px;
    height: auto;
    line-height: 40px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}
}



.farve-knap{
  display: flex;
  justify-content: end;
  align-items: end;
}

.black{
  color: #000000;
}

.border-black{
  border: 1px solid black;
}

/*CASES SIDEN*/

.hero-banner-cases{
  display: grid;
  grid-template-areas:
  'a b'
  'c c';
  height: 100%;
  background: rgb(77,38,26);
  background: linear-gradient(0deg, rgba(77,38,26,1) 0%, rgba(153,76,51,1) 100%);
  z-index: 2;
  align-items: center;
  height: auto;
}

.hero-banner-karriere{
  display: grid;
  grid-template-areas:
  'a b'
  'c c';
  height: 100%;
  background: rgb(52,57,40);
  background: linear-gradient(0deg, rgba(52,57,40,1) 0%, rgba(104,114,79,1) 100%);
  z-index: 2;
  align-items: center;
  height: auto;
}


/*Karriere side start*/

/* ledige stillinger*/

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.stillinger{
  position: relative;
  height: 300px;
  width: 400px;
  margin: 30px;
  overflow: hidden;
  background-color:rgba(101, 115, 75,1);
}
.job{
  background-color:#6B9299;
}

.stillinger img{
  position: relative;
  opacity: 35%;
  transition: 0.6s;
  transition-property: opacity;
  width: 502px;
  object-fit: contain;
}

.stillinger:hover img{
  opacity: 60%;

}

.stillinger .beskrivelse{
  z-index: 1;
  position: absolute;
  top:0;
  right: 0;
  color: white;
  width: 100%;
  height: 100%;
}

.stillinger .beskrivelse h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-weight: bold;
  margin-top: 80px;
  transition: 0.4s;
  transition-property: transform;
}

.stillinger .beskrivelse h3{
  font-size: 20px;
}

.stillinger .beskrivelse p{
  font-size: 18px;
  line-height: 25px;
  padding: 10px;
}

.more{
  position:absolute;
  width: 100%;
  display: flex;
  justify-content: end;
  bottom:-60px;
  transition: 0.6s;
  transition-property: bottom;
}

.stillinger:hover .more{
  bottom: 0;
}

.more .read-more{
  color: White;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding-right: 15px;
}

.priser{grid-area: a;}
.grafik-karriere{grid-area: b;}

.section-karriere{
  margin-top:40px;
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 30px;
  height: 400px;
  width: 100%;
  background-color:rgba(153, 76, 51, .25);
}

.grafik-karriere img{
  width: 120px;
}

.priser p{
  font-weight:lighter;
  font-style: italic;
  color: black;
  font-size: 1.3rem;
  line-height: 50px;
  text-align:center;
  padding-left: 60px;
  padding-right:60px;
}

.priser{grid-area: a;}
.grafik-karriere-2{grid-area: b;}

.section-karriere-2{
  display: grid;
  grid-template-areas:
  'b a';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 30px;
  height: 400px;
  width: 100%;
}

.grafik-karriere-2 img{
  width: 80px;
}

.hjerte img{
  width: 140px;
  justify-content: center;
}

.section-karriere-3{
  height: 400px;
  width: 100%;
  background-color: #E3CF62;
}

.section-karriere-3 h3{
  font-size: 25px;
  padding-top: 40px;
  padding-left: 60px;
  font-weight:normal;
}

.section-karriere-3 p{
  font-weight:lighter;
  font-style: italic;
  color: black;
  font-size: 1.3rem;
  line-height: 50px;
  padding-left: 60px;
  padding-right:60px;
  padding-top: 30px;
}

.værdi-1{grid-area: a;}
.værdi-2{grid-area:b;}
.værdi-3{grid-area:c;}
.hjerte{grid-area: d;}

.section-karriere-4{
  display: grid;
  grid-template-areas:
  'd d d'
  'a b c';
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  padding: 30px;
  height: 400px;
  width: 100%;
}

@media (max-width:750px){
  .stillinger{
    flex: 100%;
    max-width: 480px;
  }

  .section-karriere{
    display: grid;
    grid-template-areas:
    'a'
    'b';
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 30px;
    height: 400px;
    width: 100%;
    background-color:rgba(153, 76, 51, .25);
  }

  .section-karriere-2{
    display: grid;
    grid-template-areas:
    'a'
    'b';
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    height: 400px;
    width: 100%;
  }


  .priser p{
    font-weight:lighter;
    font-style: italic;
    color: black;
    font-size: 16px;
    line-height: 25px;

    text-align:center;
  }

  .grafik-karriere img{
    width: 120px;
    padding-top: 30px;
  }
  .section-karriere-3 h3{
    font-size: 20px;
    padding-left: 15px;
  }

  .section-karriere-3 p{
  font-size: 16px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  }

  .section-karriere-4{
    font-size: 20px;
  }
}
@media (max-width:400px){
  .more .read.more{
    font-size: 18px;
  }
}



/*Cases siden*/

@media (min-width:900px){

.filtrer{
  padding-left: 50px;
  margin-top: 100px;
  width: 100%;
}

.filtrer button{
  cursor: pointer;
}

#round-corners{
  border-radius: 50%;
  font-size: 18px;
  padding:14px;
}


/* Style the buttons */
.filt {
  border: none;
  outline: none;
  padding: 16px;
  background-color: rgba(107, 146, 153, .25);
  cursor: pointer;
  margin-right: 10px;
  border-radius: 2px;
}

/* Add a light grey background on mouse-over */
.filt:hover {
  background-color: #506B71;
  color: #fff;
  transition: .3s;
}

/* Add a dark background to the active button */
.filt.aktiv-filt-knap {
  background-color: #36494D;
  color: white;
}

.case-pic{grid-area: a;}
.case-text{grid-area: b;}

.case-box{
  display: grid;
  grid-template-areas:
  'a b';
  height: auto;
  padding: 50px;
  padding-right: 100px;
  grid-template-columns: 1fr 1fr;
  line-height: 40px;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}

.case-box-1{
  display: grid;
  grid-template-areas:
  'b a';
  height: auto;
  padding: 80px;
  padding-left: 130px;
  grid-template-columns: 1fr 1fr;
  line-height: 40px;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}


.blue-baggrund-case{
  background-color: rgba(107, 146, 153, .25);
}

.green-baggrund-case{
  background-color: rgba(101, 115, 75, .25);
}

.margin{
  margin-top: 10px;
}

.margin-top{
  margin-top: 40px;
}


.italic-text{
  font-weight: lighter;
  font-style: italic;
}

.case-text{
  margin-top: 20px;
}

.case-h3{
  font-size: 2rem;
}

.case-box img{
  width: 500px;
  height: 350px;
  object-fit: cover;
  box-shadow: 3px 3px 5px #2B3F43;
}

.case-box-1 img{
  width: 500px;
  height: 350px;
  object-fit: cover;
  box-shadow: 3px 3px 5px #2B3F43;
}

.case-pil{
display: flex;
justify-content: flex-end;
margin-top: 20px;
}

.line-border{
  background-color: #000000;
  height: 1px;
  width: 100%;
}

.line-line{
  padding-left: 110px;
  padding-right: 110px;
}

.logo-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  background-color: #ffffff;

}

.logo-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

}

@media (max-width:900px){

  .filtrer{
    margin-top: 100px;
    font-size: 10px;
    text-align: center;
  }

  .filtrer button{
    cursor: pointer;
  }


  #round-corners{
    border-radius: 50%;
    padding:14px;
  }


  /* Style the buttons */
  .filt {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgba(107, 146, 153, .25);
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  /* Add a light grey background on mouse-over */
  .filt:hover {
    background-color: #506B71;
    color: #fff;
    transition: .3s;
  }

  /* Add a dark background to the active button */
  .filt.aktiv-filt-knap {
    background-color: #36494D;
    color: white;
  }



.case-pic{grid-area: a;}
.case-text{grid-area: b;}

.case-box{
  display: grid;
  grid-template-areas:
  'a'
  'b';
  height: auto;
  grid-template-columns: 1fr;
  line-height: 40px;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  padding: 50px;
}

.case-box-1{
  display: grid;
  grid-template-areas:
  'a'
  'b';
  height: auto;
  grid-template-columns: 1fr;
  line-height: 40px;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  padding: 50px;
}


.blue-baggrund{
  background-color: rgba(107, 146, 153, .25);
}

.green-baggrund{
  background-color: rgba(101, 115, 75, .25);
}

.margin{
  margin-top: 10px;
}

.margin-top{
  margin-top: 100px;
}

.italic-text{
  font-weight: lighter;
  font-style: italic;
}

.case-text{
  margin-top: 20px;
}

.case-h3{
  font-size: 2rem;
}

.case-box img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 3px 5px #2B3F43;
}

.case-box-1 img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 3px 5px #2B3F43;
}

.case-pil{
display: flex;
justify-content: flex-end;
margin-top: 20px;
}

.line-border{
  background-color: #000000;
  height: 1px;
  width: 100%;
}

.line-line{
  padding-left: 50px;
  padding-right: 50px;
}

.logo-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  background-color: #ffffff;

}

.logo-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

}



/* Job siden start*/

.section-job-1{
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background: #6B9299;
}
.beskrivelse-job h2{
  color: white;
  font-size: 30px;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.beskrivelse-job p{
  font-size: 16px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 40px;
}

.section-job-2{
  width: 100%;
  height: 500px;
}
.beskrivelse-job-hvid h2{
  color: black;
  font-size: 30px;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.beskrivelse-job-hvid p{
  font-size: 16px;
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 40px;
}

.section-job-3{
  width: 100%;
  height: 600px;
  padding-top: 40px;
  padding-bottom: 150px;
}
.beskrivelse-job h2{
  color: black;
  font-size: 30px;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.beskrivelse-job p{
  font-size: 16px;
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 40px;

}

.beskrivelse-job{grid-area:a;}
.job-billede{grid-area:b;}

.section-job-4{
  width: 100%;
  margin-top: 100px;
  height: 800px;
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 1fr;
  background-color:rgba(153, 76, 51, .25);
}

.beskrivelse-job-liste ul li{
  list-style-type: circle;
  list-style-position:outside;
  line-height: 35px;
  font-size: 16px;
  padding-right: 15px;

}
.job-billede {
  padding: 40px;
}
.job-billede img{
  object-fit: cover;
  height: 400px;
  width: 300px;
}

.beskrivelse-job-liste h2{
  color: black;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.section-job-5{
  width: 100%;
  height: 800px;
  padding-top: 40px;
  padding-bottom: 150px;
}
.ansoeg{
  background-color: #E3CF62;
  height: 170px;
  margin-top: 100px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.section-job-7{
  width: 100%;
  height: 700px;
  padding-top: 40px;
}

.flere-cases{
  margin-top: 50px;
  margin-bottom: 100px;
}


@media (max-width:700px){

.section-job-1 {
  height: 400px;
}
  .beskrivelse-job h2{
    font-size: 22px;
    padding-left: 15px;
  }
    .beskrivelse-job p{
      font-size: 14px;
      line-height: 25px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .section-job-2 {
      height: 425px;
      padding-bottom: 50px;
    }
  .beskrivelse-job-hvid h2{
    font-size: 22px;
    padding-left: 15px;
  }
.beskrivelse-job-hvid p{
  font-size: 14px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.section-job-3 {
  height: 500px;
}

.section-job-4{
  display: grid;
  grid-template-areas:
  'a'
  'b';
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 800px;
  width: 100%;
}

.beskrivelse-job ul li{
  list-style-type: circle;
  list-style-position:outside;
  line-height: 40px;
  font-size: 14px;

}

.job-billede img{
  object-fit: cover;
  height: 200px;
  width: 300px;
  align-items: center
}

.beskrivelse-job-liste h2{
  font-size: 22px;
  padding-left: 15px;
}
.section-job-5 {
  height: 620px;
  margin-bottom: 50px;
}
.section-job-7 {
  height: 500px;
  margin-bottom: 50px;
}
}

@media (min-width:750px){
  .section-job-5 {
    height: 700px;
    margin-bottom: 30px;
  }
  .section-job-4{
    height: 600px;
  }
}
@media (min-width:980px){
  .section-job-5 {
    height: 525px;
    margin-bottom: 30px;
  }
  .section-job-4{
    height: 500px;
  }

}



/*Nyhedsbrev*/
.bg-modal{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 500px;
  height: 500px;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  z-index: 999;
}

.close{
  position: absolute;
  top: 0;
  justify-content: center;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  right: 10px;
}
.center{
  text-align: center;
}

#form {
  width: 500px;
  height: 550px;
  position: fixed;
  background-color:#B4C8CB;

  padding: 50px;
}
form{
  max-width: 500px;
  border-radius: 3px;
  box-sizing: border-box;
}

form h1{
  margin:0;
  color:black;
  text-align: center;
  font-size: 35px;
}

form h2{
  font-size: 16px;
  color: black;
  text-align: center;
}

label{
  display: block;
  margin: 10px 0;
  color:black;
}

input, textarea{
  width:300px;
  padding: 10px;
  box-sizing: border-box;
  outline:none;
  resize: none;
  border:none;
  border: 1px solid black;
  align-items: center;
}

.center{
  text-align: center;
}

input[type="submit"]{
  text-transform: uppercase;
  color: #666565;
  border: solid 1px #666565;
  background-color: transparent;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
}
input[type="submit"]:hover{
  color: #ffffff;
  background-color: #666565;
  transition: .3s;
  cursor: pointer;
}

.error{
  color:red;
}

.error-border{
  border:1px solid red;
}

#success{
  color: green;
  font-size: 18px;
}

.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0.7);
  z-index: 1;
  display: none;
}

.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay{
  display: block;
}

.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width:620px){
#form {
  width: 350px;
  height: 550px;
  position: fixed;
  padding: 30px;
}
}
